<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Message Board</title>

  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/style.css">
</head>

<body>
    <div id="container">
        <a class="header" href="{{ root|e }}{{ space.getId|e }}/"><h1>Phubble - {{ space.getId|e }}</h1></a>

        <form class="editSpace" method="post" action="">
            <label for="owner">Owner</label><input id="owner" type="text" name="owner" value="{{ space.getOwner|e }}">
            <input id="secret" name="secret" type="checkbox"><label for="secret">Secret</label>
            <input type="submit" value="Update">
        </form>

        <div class="footer">
            <span class="pull-left">Phubble</span>
            <span class="pull-right">
            {% if indieInfo %}
                {{ indieInfo.getUserId|e }} | <form method="post" action="{{ rootUrl|e}}_indieauth/logout"><input type="submit" value="Logout"></form>
            {% endif %}
            </span>
        </div> <!-- /footer -->

    </div> <!-- /container -->
</body>
</html>
