<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>{{ space.getId|e }}</h2>
        <p>
Here you can modify some space settings.
        </p>
        <p class="warn">
Make sure you get the owner URL correct, otherwise the space cannot be managed
anymore!
        </p>
        <form class="edit_space" method="post" action="">
            <div>
                <label for="owner">Owner</label><input id="owner" type="text" name="owner" value="{{ space.getOwner|e }}">
            </div>
            <div>
                <label for="acl">Group ACL (see <a href="{{ root|e}}faq#acl">FAQ</a>)</label><input id="acl" type="text" name="acl" value="{{ space.acl|e }}">
            </div>
            <div>
                {% if space.getSecret %}
                    <label><input name="secret" type="checkbox" checked="checked"> Secret</label>
                {% else %}
                    <label><input name="secret" type="checkbox"> Secret</label>
                {% endif %}
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
            {% if members %}
                <h3>Members</h3>
                <p>
This is a list of members based on the retrieved ACL and the current owner of
the space.
                </p>
                <ul>
                {% for member in members %}
                    <li><a href="{{ member|e }}">{{ member|e }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </form>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
