<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if space is defined %}
        <title>{{ space.getId|e }} - Phubble</title>
    {% else %}
        <title>Phubble</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ root|e }}css/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ root|e }}css/style.css">
    {% if space is defined and not message is defined %}
        <link rel="micropub" href="{{ rootUrl|e }}{{ space.getId}}/_micropub">
        <link rel="authorization_endpoint" href="{{ authorizationEndpoint|e }}">
        <link rel="token_endpoint" href="{{ tokenEndpoint|e }}">
    {% endif %}
</head>
