<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Message Board</title>
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/style.css">

    <link rel="micropub" href="{{ rootUrl|e }}{{ space.getId|e}}/_micropub">
</head>

<body>
    <div id="container">
        <a class="header" href="{{ root|e }}"><h1>Phubble - {{ space.getId|e }}</h1></a>

        {% if indieInfo and space.getOwner == indieInfo.getUserId %}
            <form method="get" action="_edit">
                <input type="submit" value="Edit">
            </form>
        {% endif %}

        {% if not indieInfo %}
            <form class="try" method="post" action="{{ rootUrl|e }}_indieauth/auth">
                <span class="label">https://</span><input required type="text" name="me" placeholder="example.org">
                <input type="submit" value="Sign In">
            </form>
        {% endif %}

        {% if indieInfo and canPost %}
        <form class="message" method="post">
            <textarea name="message_body" placeholder="Your Message..." required></textarea>
            <input type="submit" value="Post">
        </form>
        {% endif %}

        {% if not messages and canPost %}
            <p>No messages posted yet, be the first!</p>
        {% endif %}

        {% if not messages and not canPost %}
            <p>No messages posted yet!</p>
        {% endif %}

        {% for message in messages %}
        <table class="message">
            <tr>
            {% if indieInfo and message.getAuthorId == indieInfo.getUserId %}
                <th class="owner">
            {% else %}
                <th>
            {% endif %}
                    <a href="{{ message.getAuthorId|e }}">{{ message.getAuthorId|e }}</a>
                    <span class="date"><a href="{{ message.getId|e }}">{{ message.getPostTime|e|date }}</a></span>
                </th>
            </tr>
            <tr>
                <td>{{ message.getMessageBody|raw }}</td>
            </tr>
        </table>
        {% endfor %}

        <div class="footer">
            <span class="pull-left">Phubble</span>
            <span class="pull-right">
            {% if indieInfo %}
                {{ indieInfo.getUserId|e }} | <form method="post" action="{{ rootUrl|e}}_indieauth/logout"><input type="submit" value="Logout"></form>
            {% endif %}
            </span>
        </div> <!-- /footer -->

    </div> <!-- /container -->
</body>
</html>
