<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Message Board</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="container">
        <div class="header">
            <span class="pull-left">Phubble</span>
            <div class="pull-right">
                {% if not user_id %}
                    <form method="post" action="indieauth/auth">
                        https://<input required type="text" name="me" placeholder="example.org">
                        <input type="submit" value="Sign In">
                    </form>
                {% else %}
                    <a href="{{ user_id|e }}">{{ user_id|e }}</a> | <a href="indieauth/logout">Logout</a>
                {% endif %}
            </div>
        </div> <!-- /header -->

        {% if user_id %}
        <form class="message" method="post">
            <textarea name="message_body" placeholder="Your Message..." required></textarea>
            <button>Post</button>
        </form>
        {% endif %}

        {% if not messages %}
            <p>No messages posted yet, be the first!</p>
        {% endif %}

        <div class="prevnext">    
            {% if has_prev %}
                <a class="pull-left" href="?p={{ page-1 }}"><button>&lt;Previous</button></a>
            {% endif %}

            {% if has_next %}
                <a class="pull-right" href="?p={{ page+1 }}"><button>Next&gt;</button></a>
            {% endif %}
        </div>

        {% for message in messages %}
        <table class="message">
            <tr>
            {% if message.author_id == user_id %}
                <th class="owner">
            {% else %}
                <th>
            {% endif %}
                    <a href="{{ message.author_id|e }}">{{ message.author_id|e }}</a>
                    <span class="date"><a href="{{ message.id|e }}">{{ message.post_time|e|date }}</a></span>
                </th>
            </tr>
            <tr>
                <td>{{ message.message_body|raw }}</td>
            </tr>
            {% if message.author_id == user_id %}
            <tr>
                <td>
                    <form method="post" action="{{ message.id|e }}">
                        <input type="hidden" name="_METHOD" value="DELETE">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        </table>
        {% endfor %}

        <div class="footer">
            | Phubble
        </div>

    </div> <!-- /container -->
</body>
</html>
