<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if space.getSecret %}
            <h2>{{ space.getId|e }} (secret)</h2>
        {% else %}
            <h2>{{ space.getId|e }}</h2>
        {% endif %}

        {% if indieInfo and canPost %}
        <form class="create_message" method="post">
            <div>
                <textarea name="message_body" placeholder="Your Message..." required="required"></textarea>
            </div>
            <div>
                <input type="submit" value="Post">
            </div>
        </form>
        {% endif %}

        {% if not messages %}
            <p class="block">
No messages posted yet!
            </p>
        {% endif %}

        {% for message in messages %}
        <table class="message">
            <tr>
            {% if indieInfo and message.getAuthorId == indieInfo.getUserId %}
                <th class="owner">
            {% else %}
                <th>
            {% endif %}
                    <a href="{{ message.getAuthorId|e }}">{{ message.getAuthorId|e }}</a>
                    <span class="date"><a href="{{ message.getId|e }}">{{ message.getPostTime|e|date }}</a></span>
                </th>
            </tr>
            <tr>
                <td>{{ message.getMessageBody|raw }}</td>
            </tr>
        </table>
        {% endfor %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
