<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Message Board</title>
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ rootFolder|e }}css/style.css">

    <link rel="micropub" href="{{ rootUrl|e }}{{ space|e}}/micropub">
</head>

<body>
    <div id="container">
        <a class="header" href="{{ root|e }}"><h1>Phubble - {{ space|e }}</h1></a>

        {% if not user_id %}
            <form class="try" method="post" action="{{ rootUrl|e }}_indieauth/auth">
                <span class="label">https://</span><input required type="text" name="me" placeholder="example.org">
                <input type="submit" value="Sign In">
            </form>
        {% endif %}

        {% if user_id and can_post %}
        <form class="message" method="post">
            <textarea name="message_body" placeholder="Your Message..." required></textarea>
            <input type="submit" value="Post">
        </form>
        {% endif %}

        {% if not messages and can_post %}
            <p>No messages posted yet, be the first!</p>
        {% endif %}

        {% if not messages and not can_post %}
            <p>No messages posted yet!</p>
        {% endif %}

        <div class="prevnext">
            {% if has_prev %}
                <a class="btn pull-left" href="?p={{ page-1 }}">&lt;Newer</a>
            {% endif %}

            {% if has_next %}
                <a class="btn pull-right" href="?p={{ page+1 }}">Older&gt;</a>
            {% endif %}
        </div>

        {% for message in messages %}
        <table class="message">
            <tr>
            {% if message.author_id == user_id %}
                <th class="owner">
            {% else %}
                <th>
            {% endif %}
                    <a href="{{ message.author_id|e }}">{{ message.author_id|e }}</a>
                    <span class="date"><a href="{{ message.id|e }}">{{ message.post_time|e|date }}</a></span>
                </th>
            </tr>
            <tr>
                <td>{{ message.message_body|raw }}</td>
            </tr>
            {% if message.mention_count %}
            <tr><td><span class="mention_count">{{message.mention_count|e}} mention(s)</span></td></tr>
            {% endif %}
        </table>
        {% endfor %}

        <div class="footer">
            <span class="pull-left">Phubble</span>
            <span class="pull-right">
            {% if user_id %}
                {{ user_id|e }} | <form method="post" action="{{ rootUrl|e}}_indieauth/logout"><input type="submit" value="Logout"></form>
            {% endif %}
            </span>
        </div> <!-- /footer -->

    </div> <!-- /container -->
</body>
</html>
