<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if space.getSecret %}
            <h2>{{ space.getId|e }} (secret)</h2>
        {% else %}
            <h2>{{ space.getId|e }}</h2>
        {% endif %}

        {% if indieInfo and message.getAuthorId == indieInfo.getUserId %}
        <form method="post" action="{{ message.id|e }}">
            <input type="hidden" name="_METHOD" value="DELETE">
            <input type="submit" class="err" value="Delete">
        </form>
        {% endif %}

        <table class="message h-entry">
            <tr>
                <th>
                    <a class="p-author" href="{{ message.getAuthorId|e }}">{{ message.getAuthorId|e }}</a>
                    <span class="date">{{ message.getPostTime|e|date }}</span>
                </th>
            </tr>
            <tr>
                <td class="e-content">{{ message.getMessageBody|raw }}</td>
            </tr>
        </table>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
