<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Message Board</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="container">
        <a class="header" href="."><h1>Phubble</h1></a>

        {% if not user_id %}
            <form class="try" method="post" action="indieauth/auth">
                <span class="label">https://</span><input required type="text" name="me" placeholder="example.org">
                <input type="hidden" name="redirect_to" value="/{{ message.id|e }}">
                <input type="submit" value="Sign In">
            </form>
        {% endif %}
        
        {% if message.author_id == user_id %}
        <form method="post" action="{{ message.id|e }}">
            <input type="hidden" name="_METHOD" value="DELETE">
            <input type="submit" class="warn" value="Delete">
        </form>
        {% endif %}

        <table class="message">
            <tr>
                <th>
                    <a href="{{ message.author_id|e }}">{{ message.author_id|e }}</a>
                    <span class="date">{{ message.post_time|e|date }}</span>
                </th>
            </tr>
            <tr>
                <td>{{ message.message_body|raw }}</td>
            </tr>
        </table>

        {% if mentions %}
        <h3>Mentions</h3>
        <ul class="mentions">
            {% for mention in mentions %}
                <li><a href="{{ mention.source|e }}">{{ mention.source|e }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    
        <div class="footer">
            <span class="pull-left">Phubble</span>
            <span class="pull-right">
            {% if user_id %}
                {{ user_id|e }} | <a href="indieauth/logout">Logout</a>
            {% endif %}
            </span>
        </div> <!-- /footer -->

    </div> <!-- /container -->
</body>
</html>
