<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if space.getSecret %}
            <h2>{{ space.getName|e }} (secret)</h2>
        {% else %}
            <h2>{{ space.getName|e }}</h2>
        {% endif %}

        {% if indieInfo and canPost %}
        <form class="create_message" method="post">
            <div>
                <textarea name="message_body" placeholder="Your Message..." required="required"></textarea>
            </div>
            <div>
                <input type="submit" value="Post">
            </div>
        </form>
        {% endif %}

        {% if not messages %}
            <p class="block">
                No messages posted yet!
            </p>
        {% endif %}

        {% for message in messages %}
        <table class="message h-entry">
            <tr>
            {% if indieInfo and message.getAuthor.getName == indieInfo.getUserId %}
                <th class="owner">
            {% else %}
                <th>
            {% endif %}
                    <a class="p-author" href="{{ message.getAuthor.getName|e }}">{{ message.getAuthor.getName|e }}</a>
                    <span class="date"><a href="{{ message.getId|e }}"><span class="dt-published">{{ message.getPosted|e|date("Y-m-d H:i:s T") }}</span></a></span>
                </th>
            </tr>
            <tr>
                <td class="e-content">{{ message.getContent|raw }}</td>
            </tr>
        </table>
        {% endfor %}

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
